[Unit]
Description=ltapiserv-rs
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=on-failure
RestartSec=20
ExecStart=/usr/local/bin/ltapiserv-rs  --port 8875 --dictionary %h/dictionary.txt

[Install]
WantedBy=multi-user.target
